/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html {
  font-family: 'Roboto', 'Noto Sans SC', sans-serif !important;
}

body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

.nextdev-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.nextdev-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  color: black !important;
}

.nextdev-mobile-title {
  display: none !important;
}


.nextdev-logo-image {
  height: 28px;
  width: 140px;
}


.nextdev-header {
  overflow: visible;
}


  .nextdev-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nextdev-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .nextdev-search-box.is-focused + .nextdev-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .nextdev-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .nextdev-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #FFFFFF;
    }

  .nextdev-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .nextdev-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.nextdev-drawer {
  border-right: none;
}

  .nextdev-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .nextdev-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }


    .nextdev-drawer .nextdev-logo-image {
      position: absolute;
      bottom: 16px;
    }

.nextdev-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/slide01.jpg') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #FFFFFF;
  font-weight: 500;
}

.nextdev-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.nextdev-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.nextdev-create-character {
  font-size: 21px;
  padding-top: 400px;
}

  .nextdev-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.nextdev-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.nextdev-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.nextdev-screen {
	  padding-top: 60px;
  text-align: center;
}

.nextdev-screen .nextdev-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.nextdev-screen .project-introduced {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px;
}

.nextdev-image-link {
  text-decoration: none;
}

.nextdev-project {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .nextdev-project .nextdev-screen-image {
    width: 100%;
    z-index: 1;
  }


.nextdev-news-section {
  position: relative;
  background: url('images/news.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.nextdev-news-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.nextdev-news-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

  .nextdev-news-band-text p {
    padding-top: 8px;
  }

  .nextdev-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.nextdev-alt-link {
  text-decoration: none;
  color: #ff9800 !important;
  font-size: 16px;
}

  .nextdev-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.nextdev-customized-section {
  text-align: center;
}

.nextdev-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 80px 16px;
}

  .nextdev-customized-section-text p {
    padding-top: 16px;
  }

.nextdev-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .nextdev-more-section .nextdev-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.nextdev-card-container {
}

  .nextdev-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .nextdev-card-container .mdl-card__media img {
      width: 100%;
    }

  .nextdev-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .nextdev-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .nextdev-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .nextdev-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .nextdev-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.nextdev-footer {
  background-color: #fafafa;
  position: relative;
}

  .nextdev-footer a:hover {
    color: rgb(33,150,243);
  }

  .nextdev-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .nextdev-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .nextdev-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .nextdev-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .nextdev-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.nextdev-link-menu:hover {
  cursor: pointer;
}

.nextdev-link{
	color: #ffb74d;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .nextdev-navigation-container {
    display: none;
  }

  .nextdev-title {
    display: none !important;
  }

  .nextdev-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .nextdev.nextdev-search-box.is-focused ~ .nextdev-mobile-title,
  .nextdev-search-box.is-focused + .nextdev-navigation-container + .nextdev-mobile-title {
    opacity: 0;
  }

  .nextdev-more-button {
    display: none;
  }

  .nextdev-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .nextdev-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .nextdev-be-together-section {
    height: 350px;
  }

  .nextdev-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .nextdev-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .nextdev-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .nextdev-create-character img {
    height: 12px;
  }

  .nextdev-fab {
    display: none;
  }

  .nextdev-news-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .nextdev-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
